
.proj-main {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projects-container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projects-container a {
    flex: 0 0 calc(33.33% - 2%);
    margin: 1%;
    margin-bottom: 5%;
}

@media (max-width: 768px) {
    .projects-container {
        background-color: transparent;
        width: 90%;
    }

    .projects-container a {
        padding-top: 75px;
    }

    .BackgroundGradient {
        display: none;
    }
}