#contact-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    
}

#contact-me label {
    margin-top: 1%;
}


#input-name, #input-email, #input-message {
    all:unset;
    background: #242424cc;
    border: 1px solid #000;
    width: 80%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 4%;

}

#input-name::placeholder,
#input-email::placeholder,
#input-message::placeholder {
    text-align: left;
}



#input-message {
    margin-bottom: 1%;
    height: 150px;
}


#send-email-button {
    color: #9ca3af;
    font-size: large;
    font-family: monospace;
    margin-top: 1%;
    padding: 10px 20px;
    border: none;
    background: #242424cc;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    background-size: 200% auto;
    cursor: pointer;
    transition: 0.5s;
    animation: Gradient 1.5s ease infinite;
    margin-bottom:1%;
}



#send-email-button:hover {
    background: #585858
}

@media (max-width: 960px) {
    #contact-me {
        margin-top: 5%;
        margin-bottom: 5%;
    }
    #contact-me #input-name,#contact-me  #input-email,#contact-me #input-message {
        width: 300px;
    }
}