.experience-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.work-card {
    margin-left: 7%;
    margin-right: 7%;
    height: 420px;
}


@media (max-width: 768px) {
    .experience-container {
        flex-direction: column;
    }
}